@model lab5.Models.Lab1ViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Lab1";
}

<h2>Лабораторна робота 1</h2>
<p>Василь Афанасьєв як курсову роботу отримав завдання - побудувати комп'ютер, який би працював не з числами, а з рядками. Вася для початку фіксував деякий алфавіт. Позначимо за K кількість букв у цьому алфавіті. 
    Далі, Вася фіксував деякий набір різних рядків, довжини не більше N кожен, який він назвав базовим. Комп'ютер уміє працювати тільки з рядками, які виходять конкатенацією (тобто приписуванням) деяких рядків із 
    цього набору один до одного (один і той самий рядок при приписуванні можна використовувати кілька разів). Однак виявилося, що вихідний базовий набір виявився надмірним! Це означає, що в ньому був рядок, при 
    видаленні якого з набору не змінюється безліч рядків, з якими вміє працювати комп'ютер.<br>
    Васю зацікавило питання - як багато може бути рядків у ненадмірному наборі, і скільки таких максимальних наборів існує.<br>
   Оскільки його комп'ютер ще не готовий, то він попросив Вас порахувати це число.<br><br>
   Вхідні дані<br>
   У вхідному файлі INPUT.TXT міститься два цілих числа 1 ≤ N ≤ 1 000 і 1 ≤ K ≤ 100 - відповідно максимальна довжина рядка і кількість символів в алфавіті.<br><br>
   Вихідні дані<br>
   У першому рядку вихідного файлу OUTPUT.TXT виведіть кількість рядків у максимальному наборі. У другому - кількість таких наборів.</p>

<form asp-action="Lab1" method="post">
    <div class="form-group">
        <label for="inputField">Вхідні дані:</label>
        <textarea class="form-control" id="inputField" name="Input" rows="5">@Model.Input</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Підтвердити</button>
</form>

@if (!string.IsNullOrEmpty(Model.Output))
{
    <div class="alert alert-info">
        <p>@Html.Raw(Model.Output)</p>
    </div>
}