@model lab5.Models.Lab2ViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Lab2";
}

<h2>Лабораторна робота 2</h2>
<p>У навколоземному космічному просторі накопичилося багато сміття, тож вчені сконструювали спеціальний апарат пастку для космічного сміття. 
    Апарат повинен рухатися досить складною траєкторією, спалюючи по шляху сміття. Пастка може пересуватися у просторі за 6 напрямками: на північ (N), на південь (S), на захід (W), на схід (E), вгору (U) та вниз (D). 
    Рухом пастки керує процесор. Програма руху задається шістьма правилами руху, які відповідають кожному із зазначених напрямків. Кожне таке правило є рядком символів з множини {N, S, W, E, U, D}.<br>
    Команда пастки складається із символу напрямку та цілого позитивного числа M. Якщо параметр більше 1, то пастка переміщається на один метр у напрямку, що вказано в команді, а потім послідовно виконує команди, задані 
    правилом для даного напрямку, з параметром менше на 1. а параметр дорівнює 1, то просто переміщається на один метр у зазначеному напрямку.<br>
Нехай, наприклад, задані правила, відображені у таблиці праворуч. Тоді при виконанні команди S(3) сміттяр спочатку переміститься на 1 метр у напрямку S, а потім виконає послідовно команди N(2), U(2), S(2), D(2), D(2), U( 2), S(2), E(2).<br>
Нехай, наприклад, задані правила, відображені у таблиці праворуч. Тоді при виконанні команди S(3) сміттяр спочатку переміститься на 1 метр у напрямку S, а потім виконає послідовно команди N(2), U(2), S(2), D(2), D(2), U( 2), S(2), E(2).<br>
Якщо далі проаналізувати дії сміттяра, отримаємо, що в цілому він здійснить рівно 34 переміщення.<br><br>
    Перші шість рядків вхідного файлу INPUT.TXT задають правила для команд із напрямком N, S, W, E, U та D відповідно. Кожен рядок містить не більше 100 символів (і може бути пустим). Наступний рядок містить команду пастки:
    спочатку символ із множини {N, S, W, E, U, D}, потім пробіл і параметр команди – ціле позитивне число, що не перевищує 100.<br><br>
Виведіть у вихідний файл OUTPUT.TXT однину - кількість переміщень, яку здійснить пастка. Гарантується, що відповідь вбирається у 109.<br>
</p>

<form asp-action="Lab2" method="post">
    <div class="form-group">
        <label for="inputField">Вхідні дані:</label>
        <textarea class="form-control" id="inputField" name="Input" rows="5">@Model.Input</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Підтвердити</button>
</form>

@if (!string.IsNullOrEmpty(Model.Output))
{
    <div class="alert alert-info">
        <p>@Model.Output</p>
    </div>
}